<section>
    <article>
        <p [class]="{ 'high': consumptionPer100Km > MAX_CONSUMPTION, 'low': consumptionPer100Km < MIN_CONSUMPTION }">
            Consommation pour 100 kms : {{consumptionPer100Km | number:'1.2-2': 'fr_FR'}}
        </p>
        <p [class]="{ 'highDistance': distanceKm > DISTANCE_MAX, 'lowDistance': distanceKm < DISTANCE_MIN }">
            Nombre de kilomètres : {{distanceKm}}
        </p>
        <p>
            Consommation totale : {{distanceKm * consumptionPer100Km | number:'1.2-2': 'fr_FR'}}
        </p>
        <p>
            Quantité totale de CO2 : {{ quantityCO2Totale | number:'1.2-2': 'fr_FR'}}
        </p>
            
        @if(consumptionPer100Km > MAX_CONSUMPTION){
            <p>Attention, votre consommation est élevée.</p>
        } @else if (consumptionPer100Km < MIN_CONSUMPTION) { 
            <p>Félicitations, votre consommation est faible.</p>
        }
            
        <button (click)="add100Km()">Ajouter 100km</button>
    </article>
    <article>
            <h2>Liste des voyages</h2>
            <table>
                <thead>
                    <tr>
                        <th>Distance</th>
                        <th>Consommation pour 100 kms</th>
                        <th>Quantité de CO2</th>
                    </tr>
                </thead>
            <tbody>
                @for (travel of travels; track $index) {
                <tr>
                    <td>{{ travel.distanceKm | number:'1.2-2': 'fr_FR' }} km</td>
                    <td>{{ travel.consumptionPer100Km | number:'1.2-2': 'fr_FR'}} L</td>
                    <td>{{ travel.quantityCO2 | number:'1.2-2': 'fr_FR'}} kg de CO2</td>
                </tr>
            }
        </tbody>
        </table>

        <button (click)="generateTravel()">Générer un voyage</button>
    </article>

</section>
<section>
    <article>
        <app-carbon-footprint-form></app-carbon-footprint-form>
    </article>
    <article>
        <app-carbon-footprint-result></app-carbon-footprint-result>
    </article>
</section>