<form [formGroup]="travelForm" (submit)="onClickSubmit()">
    <label for="distance">Distance</label>
    <input type="number" min="0" name="distance" id="distance" formControlName="distance">
    @if (travelForm.get('distance')?.dirty || travelForm.get('distance')?.touched){
        @if(travelForm.get('distance')?.hasError('required')) {
            <div class="alert alert-danger">Ce champ est obligatoire !</div>
        }
        @if(travelForm.get('distance')?.hasError('min')) {
            <div class="alert alert-danger">Ce champ doit être supérieure à 0 !</div>
        }
    }

    <label for="date">Date du voyage</label>
    <input type="date" name="date" id="date" formControlName="date">

    <label for="type">Moyen de transport</label>
    <select name="type" id="type" formControlName="type">
        <option value="plane">Avion</option>
        <option value="train">Train</option>
        <option value="car">Voiture</option>
    </select>
    @if (travelForm.get('type')?.dirty || travelForm.get('type')?.touched){
        @if(travelForm.get('type')?.hasError('required')) {
            <div class="alert alert-danger">Ce champ est obligatoire !</div>
        }
        @if(travelForm.get('type')?.hasError('pattern')) {
            <div class="alert alert-danger">Ce champ n'est pas correct !</div>
        }
    }

    @if(travelForm.get('type')?.value && travelForm.get('type')?.value === "car"){
        <label for="carConsumption">Consommation pour 100km</label>
        <input type="number" min="0" name="carConsumption" id="carConsumption" formControlName="carConsumption">
        @if (travelForm.get('carConsumption')?.dirty || travelForm.get('carConsumption')?.touched){
            @if(travelForm.get('carConsumption')?.hasError('min')) {
                <div class="alert alert-danger">Ce champ doit être supérieure à 0 !</div>
            }
            @if (travelForm.hasError('requiredCarConsumption') && (travelForm.touched || travelForm.dirty)) {
                <div class="alert alert-danger">
                    Ce champ est obligatoire !
                </div>
            }
        }
    }

    <button [disabled]="!travelForm.valid">Ajouter le voyage</button>
</form>
