.alert {
    border: 2px solid lightgray;
    border-radius: 8px;
    padding: 5px;
    background-color: rgba(211, 211, 211, 0.295);
    margin-bottom: 15px;
    margin-top: -5px;
}

.alert-danger {
    border: 2px solid red;
    background-color: rgba(255, 0, 0, 0.295);
}